<!DOCTYPE html>
<html>
<head>
    <title>Question Result</title>
    <link rel="stylesheet" type="text/css" href="styles1.css">
</head>
<body>
    <h1>Question Result</h1>
    <p><strong>Question:</strong> <%= question %></p>
    <p><strong>Answer:</strong> <%= answer %></p>
    <br>
    <a href="/">Ask Another Question</a>
</body>
</html>
