<!DOCTYPE html>
<html>
<head>
    <title>Customer Support System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <form method="POST">
        <!-- Language dropdown menu -->
        <label for="language">Choose the language of Email to be generated:</label>
        <select name="language">
            <option value="en" {% if language == 'en' %}selected{% endif %}>English</option>
            <option value="es" {% if language == 'es' %}selected{% endif %}>Spanish</option>
            <option value="pt" {% if language == 'pt' %}selected{% endif %}>Portuguese</option>
        </select>
        <!-- Question and answer container -->
        <div class="container">
            <div class="q-container">
                <label for="question"><h4> Question (Generated Comment):</h4></label>
                <!-- Textarea displaying the generated comment -->
                <textarea name="question" rows="10" cols="50" readonly>{{ question }}</textarea>
            </div>
            <div class="a-container">
                <label for="answer"><h4>Answer (Generated Email):</h4></label>
                <!-- Textarea displaying the generated email response -->
                <textarea name="answer" rows="10" cols="50" readonly>{{ answer }}</textarea>
            </div>
        </div>
        <input type="submit" value="Process">
    </form>
</body>
</html>